*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --dark-color: #19283f;
}
 .click{
    display: none;
    padding: 5px 10px;
    position: fixed;
    bottom: 5px;
    right: 10px;
    background:  rgb(200, 11, 203);
    border-radius: 10px;
    color: white;
}
/* 
header{
    width: 100%;
    height: 100%;
}
header #click{
    display: none;
    padding: 5px 10px;
    position: fixed;
    bottom: 5px;
    right: 10px;
    background:  rgb(200, 11, 203);
    border-radius: 10px;
    color: white;
}



  /* start nav */
  .nav-fill{
    justify-content: space-between;
    position: fixed;
    background-color: #ece8e8;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}


.loading{
    background-color: #647287;
    min-height: calc(100vh - 40px);
    margin-bottom: 100px;

} 
.card-img, .card-img-bottom, .card-img-top{
    width: 50%;
} 

/* 
.row{
    width: 90%;
    margin: 0 auto;
} */

.box{
    width: 250px;
    margin: 5px 5px;
    height: 100%;
    box-shadow: 0 0 8px rgb(200, 11, 203) ;
    align-items: center;
    text-align: center;
}
.box p{
    font-size: 1.3em;
    font-weight: 500;
}

.box img{
    padding: 5px 0;
    width: 100px;
    transition: 0.5s;
    border-radius: 50px;
}

.box .social-icons i {
    color: orange;
}

.box img:hover{
    transform: scale(2.1);
}

footer{
    width: 100%;
    height: 100%;
    background-color: orange;
}
footer .cont{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .cont i{
    font-size: 2em;
    margin:0 10px;
}